/* body */
@font-face {
    font-family: "VoyagerLight";
    src: url(fonts/VoyagerLight.ttf);
}
@font-face {
    font-family: "rift";
    src: url(fonts/Fort-Foundry-Rift-Bold.otf);
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: black;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    font-family: rift;
}
.mt-120{
    margin-top: 120px;
}
.appear{
    display: block;
}
.disappear{
    display: none;
}
/* body */

/* navbar */
.wind, .bi-search{
    font-size: 16px;
}
header h3, .bi-list{
    font-size: 35px;
}
header h3{
    margin-bottom: 0;
}
header{
    background: unset;
    z-index: 999;
    padding: 0 40px;
}
#overrides nav, #overrides nav .bi, #overrides nav a, nav a:hover, main, footer, footer a, footer a:hover, .plan-your-trip p, .new p, .featured button, h2, .paragraph, .discover a,  .discover a:hover, .discover h3, .white-text{
    color: unset;
    color: white;
}
nav h3, footer h3{
    font-family: "VoyagerLight";
}
.transparent-nav{
    background: transparent;
}
.beige-nav{
    background: rgb(169, 132, 83);
}
.black-nav{
    background: black;
}
/* navbar */

/* main */
main{
    background-image: url(img/cc_MARS-KeyArt-Horizontal_16x9.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.black{
    background-color: rgba(0, 0, 0, 0.3);
}
main p{
    font-size: 20px;
}
main h1{
    font-size: 60px;
    font-weight: 300; 
}

/* main */

/* form */
#overrides .form-search .col-12{
    background: transparent;
    width: unset;
    width: 70%;
    height: 80px;
    padding: 20px;
    border:  1px solid rgb(125, 99, 77);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
label{
    font-size: small;
}
select, input{
    border: none;
    background: transparent;
    color: white;
    outline: none;
}
option{
    background-color: black;
    border: 1px solid rgb(125, 99, 77);
}
select option:hover{
    background: rgb(125, 99, 77) !important;
}
select option:checked{
    background: rgb(125, 99, 77) !important;
}
#overrides input::placeholder{
    color: white;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
button{
    background: transparent;
    outline: none;
    border: none;
    color: rgb(125, 99, 77);
    font-size: large;
}
/* form */

/* title */
.title p{
    color: rgb(205, 160, 111);
}
.title h2{
    color: white;
}
/* title */

/* featured */
.featured img{
    display: block;
    width: 150px;
    position: relative;
    bottom: 80px;
    z-index: 2;
    margin: 0 auto 30px;
}
#overrides .featured .col1, .featured .col2, .featured .col3{
    width: unset;
    width: 200px;
    height: 300px;
    margin: 70px;
    color: white;
}
.description{
    position: relative;
    bottom: 100px;
}
.new{
    clip-path: polygon(0 0, 0 100%, 100% 0);
    width: 50px;
    height: 50px;
    background: rgb(205, 160, 111);
    position: absolute;
    top: 0;
    left: 0;
}
.new p{
    transform: rotate(-45deg);
    position: relative;
    right: 9px;
    bottom: 2px;
    font-size: 12px;
}
.col1{
    background-image: url(img/fd82b057502c0ca8c5ade2ae09661e27.jpg);
    background-position: center;
}
.col2{
    background-image: url(img/martianvehicle1.jpg);
    background-position: center;
}
.col3{
    background-image: url(img/image1.jpg);
    background-position: center;
}
.col1, .col2, .col3{
    background-size: cover;
    position: relative;
}
.featured button{
    background: rgb(205, 160, 111);
    border: none;
    outline: none;
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 110px;
}
.featured button:hover{
    background: rgba(205, 160, 111, 0.8);
}
/* featured */

/* bio suit */

.bio-suit img{
    height: 330px;
}
.line{
    height: 1px;
    width: 90%;
}
.line::before{
    content: "";
    height: 5px;
    width: 80px;
    display: block;
}
.line, .line::before{
    background-color: rgb(125, 99, 77);
}
.bio-suit p[class="text-uppercase"], .brown-text{
    color: rgb(125, 99, 77);
}
.paragraph{
    width: 350px;  
}
table, td{
    border: 1px solid rgb(125, 99, 77);
}
table p, table i{
    color: rgb(125, 99, 77);
}
table h4{
    color: rgb(205, 160, 111);
}
.row1 td{
    width: 100px; 
    height: 100px;
}
.left:hover, .right:hover, .learn-more:hover, .book-a-trip:hover{
    background-color: rgb(125, 99, 77);
}
.left:hover .bi-chevron-left, .right:hover .bi-chevron-right, .learn-more:hover h4, .book-a-trip:hover h4{
    color: black;
}
/* bio suit */

/* discover */
.discover{
    height: 800px;
    margin-right: 100px;
    margin-left: 100px;
}
.discover .col-2::after{
    content: "";
    width: 0%;
    height: 5px;
    background-color: rgb(125, 99, 77);
    display: block;
    margin-top: 8px;
    transition: width 0.5s;
}
.discover .active::after{
    content: "";
    width: 100%;
    height: 5px;
    background-color: rgb(125, 99, 77);
    display: block;
    margin-top: 8px;
}
hr{
    background-color: rgb(125, 99, 77);
}
.discover hr{
    width: 100%;
    display: block;
    margin: 0 auto;
}
.discover img{
    width: 250px;
}
.mt-olympus{
    width: 200px !important;
    height: 200px;
    border-radius: 50%;
    border: 1px white dashed;
    padding: 12px;
    position: relative;
    bottom: 150px;
    right: 60px;
}
.pointing{
    height: 1px;
    width: 60px;
    transform: rotate(-45deg);
    background: white;
    position: relative;
    bottom: 159px;
    left: 78px;
}
.pointing::after{
    content: "";
    display: inline-block;
    height: 1px;
    width: 100px;
    background: white;
    transform: rotate(45deg);
    z-index: 3;
    position: relative;
    left: 45px;
    bottom: -18px;
}
.olympus-text{
    position: relative;
    bottom: 260px;
    right: 200px;
}
.mt-olympus{
    width: 122px !important;
    height: 122px;
    bottom: 120px;
    right: 50px;
}
.pointing{
    bottom: 110px;
    left: 40px;
}
.pointing::after{
    width: 50px;
    left: 51px;
    bottom: 0px;
}
.olympus-text{
    position: relative;
    bottom: 100px;
    right: 40px;
}
/* discover */

/* testimonial */
.testimonials{
    margin: 80px 0;
}
.testimonials .line{
    width: 100%;
}
.testimonials img{
    width: 100%;
}
.testimonials td{
    width: 30px;
    height: 30px;
}
/* testimonial */

/* plan your trip */
.plan-your-trip{
    margin-top: 70px;
}
.plan-your-trip .row{
    margin: 10px;
}
.plan-your-trip img{
    width: 64px;
}
.plan-your-trip h5{
    color: rgb(205, 160, 111);
    font-weight: bold;
}
.plan-your-trip p{
    font-size: 14px;
    max-width: 200px;
}
/* plan your trip */

/* footer */
footer{
    height: 200px;
}
footer .container{
    position: relative;
    bottom: 180px;
    margin: auto;
}
footer img{
    width: 95%;
}
/* footer */

/* search */
#searching{
    background: url(img/cc_MARS-KeyArt-Horizontal_16x9.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: none;
}
#searching input{
    background: white;
    color: rgb(115, 115, 115);
    height: 50px;
    width: 400px;
    padding: 15px; 
}
#searching input::placeholder{
    color: rgb(115, 115, 115);
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
.search-input img{
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 40px;
    left: 360px;
}
#search input::placeholder{
    color: rgb(115, 115, 115);
}
/* search */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    /* featured */
    #overrides .featured .col1, #overrides .featured .col2{
        margin: 0 auto;
    }
    #overrides .featured .col3{
        margin-top: 100px;
    }
    .featured img {
        width: 120px;
        position: relative;
        bottom: 60px;
        
    }
    .featured .description{
        margin-top: 50px;
    }
    /* featured */

    /* bio suit */
    .bio-suit img{
        height: 300px;
    }
    /* bio suit */

    /* discover */
    .discover{
        height: 800px;
    }
    .discover hr{
        width: 75%;
    }
    /* discover */

    /* footer */
    footer img{
        width: 530px;
    }
    /* footer */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* form */
    #overrides .form-search .col-12{
        width: unset;
        width: 143px;
    }
    .form-search, .form-search select, .form-search input{
        font-size: 12px;
    }
    .form-search select, .form-search input{
        width: 115px;
    }
    /* form */

    /* featured */
    #overrides .featured .col1, #overrides .featured .col2{
        margin: unset;
    }
    #overrides .featured .col3{
        margin: 0;
    }
    /* featured */

    /* bio suit */
    .bio-suit img{
        height: 320px;
    }
    .bio-suit .p-10{
        padding: 0;
    }
    /* bio suit */

    /* discover */
    .discover{
        height: 480px !important;
    }
    /* discover */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* navbar */
    .wind, .bi-search{
        font-size: 20px;
    }
    .nav-item{
        margin: 0 7px;
        display: flex;
        align-items: center;
    }
    /* navbar */

    /* form */
    .form-search, .form-search select, .form-search input{
        font-size: 16px;
    }
    #overrides .form-search .col-12{
        width: unset;
        width: 190px;
    }
    .form-search select, .form-search input{
        width: unset;
    }
    /* form */

    /* featured */
    #overrides .featured .col1, .featured .col2, .featured .col3{
        width: 280px;
        height: 400px;
        color: white;
    }
    .featured img {
        width: 160px;
        position: relative;
        bottom: 90px;
    }
    /* featured */

    /* bio suit */
    .bio-suit img{
        height: 450px;
    }
    /* bio suit */

    /* discover */
    .discover img{
        width: 300px;
    }
    .discover .col-2:hover::after{
        content: "";
        width: 100%;
        height: 5px;
        background-color: rgb(125, 99, 77);
        display: block;
        margin-top: 8px;
    }
    /* discover */
    footer .container{
        position: relative;
        bottom: 300px;
        margin: auto;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* discover */
    .discover{
        height: 700px !important;
    }
    .discover img{
        width: 450px;
    }
    .mt-olympus{
        width: 200px !important;
        height: 200px;
        border-radius: 50%;
        border: 1px white dashed;
        padding: 12px;
        position: relative;
        bottom: 150px;
        right: 60px;
    }
    .pointing{
        height: 1px;
        width: 60px;
        bottom: 159px;
        left: 78px;
    }
    .pointing::after{
        width: 100px;
        left: 45px;
        bottom: -18px;
    }
    /* discover */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}
